.tweet{
  border: 1px solid black;
  height: 200px;
  margin-top: 20px;
  border-radius: 7px;
}

.tweet:hover .header{
  background: #6db6e0;
}

.tweet:hover{
  box-shadow: 10px 10px 5px #888888;
}

.tweet .header{
  transition: all 0.5s ease;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  height: 65px;
  background-color: #abcdeb;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.header .avatar{
  padding: 3px;
  margin-left: 4px;
  border-style: none;
}

.header .username{
  width: 300px;
  padding: 20px;
  font-size: 24px;
}

.body {
  padding: 12px;
  height: 98px;
  word-wrap: break-word;
}

.header .userhandle{
  padding: 20px;
}

.footer {
  border-top: 1px solid black;
  padding: 10px
}

.controls {
  display: none;
  float: right;
}

.tweet:hover .controls{
  display: inline;
}
